@page "/customers/create"


@inject IDataLayer DataLayer;
@inject NavigationManager Nav;

<h1>New Customer</h1>

<EditForm Model="@customer" OnValidSubmit="SaveCustomerAsync">
    <div class="form-grop">
        <label>First Name:</label>
        <InputText @bind-Value="customer.FirstName"></InputText>
        <label>Last Name:</label>
        <InputText @bind-Value="customer.LastName"></InputText>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</EditForm>


@code {
    public UnitOfWork uow;
    private Customer customer;

    private async Task SaveCustomerAsync() {
        await uow.CommitChangesAsync();
        Nav.NavigateTo("/customers");
    }
    protected override void OnInitialized() {
        uow = new UnitOfWork(DataLayer);
        customer = new Customer(uow);
    }
}